@import "../../shared/styles/vars";

#minimap {
	border: 3px solid #fff;
	border-radius: 6px;
	box-sizing: content-box;
	cursor: move;
	fill: #fff;
	position: fixed;
	bottom: 25px;
	left: 15px;
	opacity: 0.6;
	transition: 0.2s opacity;
	z-index: 500;
}

#minimap:active,
#minimap:hover {
	opacity: 1;
}

#minimap-viewport {
	box-shadow: 0 0 4px #000;
}