/* @override 
	http://localhost:3000/7dbe98865c80f2a7485e46b6dedcadf961d8575d.css */

html, body{
   height: 100%;
   width: 100%;
}

body {
	margin: 0px;
	padding: 0px;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
color: #333;
	font-size: 0.8em;
}

body.dep-mode {
	background-color: pink;
}
body.draft-mode .section-tree {
	background-color: #ccc;
}

.button {
  cursor:pointer;
  background: #fc0452;
  color: white;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -moz-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -ms-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -o-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: linear-gradient(to bottom, #f5c4d4, #e6a6ba);
  text-decoration: none;
}

.draft-node {
	opacity: 0.3;
}

.container {
	position: relative;
	height: 100%;
}



/***** SELECTION AND SCROLL STYLES *****/

::selection,
a::selection,
img::selection {
	background: #fc0452;
	color: #ffffff;
}

::-moz-selection {
	background: #fc0452;
	color: #ffffff; 
} 

::-webkit-scrollbar-thumb:vertical { background-color: #fc0452; height:200px;}
::-webkit-scrollbar-thumb:horizontal { background-color: #fc0452; height:10px !important;}
::-webkit-scrollbar { height:10px; width:7px; background-color:#fcfeff; }

/*** **/

.section-logo {
	position: absolute;
	z-index: 1000;
	top:  30px;
	left: 30px;
}

.section-logo .logo {
	width: 120px;
	height: 120px;
}

.section-tree {
	background-color: #EAEAEA;
	margin-right: 400px;
	height: 100%;
	overflow: scroll;
}
.section-tree-inner {
	position: relative;
}


.section-tutorial {
	pointer-events: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 800px;
	height: 100%;
	overflow-y: scroll;
	font-size: 0.8em;
}


.node-image {
	height: 60px;
	width: 60px;
	border: 1px solid black;
}

.node.draft  {
  opacity: 0.3;
  fill: #b2a31f;
}

.node {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.node .title {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 0.9em;
}

.icon {
	width: 60px;
	height: 60px;
}

.icon img {
	max-width: 100%;
	max-height: 100%;
}



.ui-draggable {
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
}
.ui-draggable-dragging {
	box-shadow: 10px 10px 10px #AAA;
	margin-left: -10px;
	margin-top: -10px;
	cursor: move;
	cursor: -webkit-grabbing; cursor: -moz-grabbing;

}

.change-dep {
	cursor: pointer;
	color: #fc0452;
	display: inline-block;
}

.jqDropZone {
    background: lightgrey;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/** tutorial **/



/**** TUTORIAL ****/




.section-tutorial-inner {
	pointer-events: all;
	padding-left: 400px;
	/*margin: 20px;*/
}

.section-tutorial .header-inner {
	display: table;
	margin-bottom: 20px;
	width: 100%;
}

.section-tutorial .header-inner > div {
	border-top: 5px solid #fc0452;
	padding-top: 5px;
	display: table-cell;
	vertical-align:middle;
	padding-right: 10px;
}


.section-tutorial .header-inner textarea {
	font-size: 1em !important;
	width: 100%;

}
.section-tutorial .header-inner .title,
.section-tutorial .title input {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 20px;
}

.section-tutorial .header-edit .label {
	float: left;
	width: 100px;
	padding-top: 5px;
	font-weight: bold;
}

.section-tutorial .header-edit .submit {
	margin: 20px 0px;
}

.draft-warning {
	display: none;
}

.section-tutorial .draft .draft-warning {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display: block !important;
	font-weight: bold;
	font-size: 3em; 
	height:100%;
	margin-bottom: -20px;
	color: #bfb029;
}

.tutorials {
	position: relative;
	width: 380px;
}
.tutorial {
	position: absolute;
	top: 0px;
	margin-left: 0px;
	margin: 20px;
	padding: 20px;
	width: 300px;
	display: none;
}

.tutorial-delete {
	text-align:right;
	width: 100%;
}

.tutorial.draft  {
	background: url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAL+AwEjujhYEASQJWCCIDG4BLIgXAJdECyBTRAkAQAIvhgD4hkqMQAAAABJRU5ErkJggg==
	   ) repeat #f4e69c;
}



/***** TUTORIAL STEP STYLES *****/

.step-description, .step-description .input {
	font-size: 11px !important;
	line-height: 18px !important;
	letter-spacing: 0px !important;
}


.step {
  /*padding: 20px;*/
	 margin-bottom: 20px;
}

.new .edit-form { 
/*	display: block !important; */
}

.edit-form {
position: absolute;
	right: 323px;
    border-right: 3px solid #fc0452;
	display: none;
	background-color: #FFFAFA;
	padding: 15px;
	margin-top: -25px;
}

.sorthandle {
	display: inline-block;
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	background: #fc0452;
	color: white;
	padding: 5px 10px 5px 10px;
}

.sorting .sorthandle {
	cursor: move;
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

.step-inner {
  padding: 10px;
  border-top: 1px dotted #fc0452;
}

.step .step-description {
	margin-bottom: 10px;
}


.step .step-video img {
	max-width: 100%;
}
.step iframe {
	max-width: 100%;
}

/*** TREE SVG */

._jsPlumb_connector path {
	stroke-width: 2px;
	stroke-dasharray: 4px 2px;
}


