/* @override 
	http://localhost:3000/7dbe98865c80f2a7485e46b6dedcadf961d8575d.css
	http://localhost:3000/d721341743a7be0b3d8714577ac0db43731ffe3f.css
	http://localhost:3000/a3bbc6c832d6b825efe73f139eb77d3cbc47a067.css
	http://localhost:3000/812d8ca07664b880ca0d3e169faf281d6194be80.css */

html, body{
   height: 100%;
   width: 100%;
}

body {
	margin: 0px;
	padding: 0px;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
color: #333;
	font-size: 0.8em;
}

body.dep-mode {
	background-color: pink;
}

body.draft-mode .logged-in .section-tree {
	/*background-color: #ccc;*/
}

.button {
  cursor:pointer;
  background: #fc0452;
  color: white;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -moz-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -ms-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -o-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: linear-gradient(to bottom, #f5c4d4, #e6a6ba);
  text-decoration: none;
}


.button-small {
  cursor:pointer;
  padding: 1px 2px;
  text-decoration: none;
  display: inline-block;
}

.button-small:hover {
  color: #fc0452;

/*  background-image: -webkit-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -moz-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -ms-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: -o-linear-gradient(top, #f5c4d4, #e6a6ba);
  background-image: linear-gradient(to bottom, #f5c4d4, #e6a6ba);*/
  text-decoration: none;
}


.container {
	position: relative;
	height: 100%;
}

#login-buttons {
	display: block;
}

.not-logged-in .login-link-text {
	display: none;
}



/***** SELECTION AND SCROLL STYLES *****/

::selection,
a::selection,
img::selection {
	background: #fc0452;
	color: #ffffff;
}

::-moz-selection {
	background: #fc0452;
	color: #ffffff; 
} 

::-webkit-scrollbar-thumb:vertical { background-color: #fc0452; height:200px;}
::-webkit-scrollbar-thumb:horizontal { background-color: #fc0452; height:10px !important;}
::-webkit-scrollbar { height:10px; width:7px; background-color:#fcfeff; }

/*** **/

.section-logo {
	position: absolute;
	z-index: 1000;
	top:  30px;
	left: 30px;
}

.section-logo .logo {
	width: 120px;
	height: 120px;
}

.section-tree {
	background-color: #EAEAEA;
	margin-right: 400px;
	height: 100%;
	overflow-y: scroll;
}
.section-tree-inner {
	position: relative;
}


.section-tutorial {
	pointer-events: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 800px;
	height: 100%;
	overflow-y: scroll;
	font-size: 0.8em;
}

.node-image {
	height: 60px;
	width: 60px;
	border: 1px solid black;
}

#draft-sign {
	display:  none;
}
body.draft-mode .logged-in #draft-sign {
	display: block;
	position: absolute;
	left: 20px;
	top: 20px;
	font-size: 20em;
	font-weight: bold;
	padding: 10px 15px;
	opacity: 0.1;
	pointer-events: none;
	/*content:  "boo";*/
}



body.draft-mode .logged-in .section-tree {
	background: url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAL+AwEjujhYEASQJWCCIDG4BLIgXAJdECyBTRAkAQAIvhgD4hkqMQAAAABJRU5ErkJggg==
	   ) repeat #f4e69c;
}


.logged-in.draft-node {
	opacity: 0.5;
	border: 5px dotted #333;
}


.logged-in .node.unpublish  {
  opacity: 0.3;
}

.logged-in .node.unpublish::before {
   content:    "UNPUBLISHED";
   color:      #fc0452;
   font-weight: bold;
   font-size: 0.8em;
   border-bottom: 2px solid #fc0452;
}

.node {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 10;;
}

.node .title {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 0.85em;
	text-align:center;
}

.node.courseHighlight, .node.weekmodeHighlight {
	border: 6px solid #fc0452;
	margin: -6px;
}

.icon {
	width: 60px;
	height: 60px;
	text-align: center;
}

.icon img {
	max-width: 100%;
	max-height: 100%;
}


.editable-text {
	cursor:text;
}

.ui-draggable {
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
}
.ui-draggable-dragging {
	box-shadow: 4px 4px 20px #AAA;
	margin-left: -2px;
	margin-top: -2px;
	cursor: move;
	cursor: -webkit-grabbing; cursor: -moz-grabbing;

}

.change-dep {
	cursor: pointer;
	color: #fc0452;
	display: inline-block;
}

.jqDropZone {
    background: lightgrey;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/** tutorial **/



/**** TUTORIAL ****/



.section-tutorial-inner {
	pointer-events: all;
	padding-left: 400px;
	/*margin: 20px;*/
}

.section-tutorial .header-inner {
	display: table;
	margin-bottom: 10px;
	width: 100%;
}

.section-tutorial .header-inner > div {
	border-top: 5px solid #fc0452;
	padding-top: 5px;
	display: table-cell;
	vertical-align:middle;
	padding-right: 10px;
}


.section-tutorial .header-inner textarea {
	font-size: 1em !important;
	width: 100%;

}
.section-tutorial .header-inner .title,
.section-tutorial .title input {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 20px;
}

.section-tutorial .header-edit .label {
	float: left;
	width: 100px;
	padding-top: 5px;
	font-weight: bold;
}

.section-tutorial .header-edit .submit {
	margin: 20px 0px;
}

.draft-warning {
	display: none;
}

.section-tutorial .draft .draft-warning {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display: block !important;
	font-weight: bold;
	font-size: 3em; 
	height:100%;
	margin-bottom: -20px;
	color: #bfb029;
}

.tutorials {
	position: relative;
	width: 380px;
}
.tutorial {
	position: absolute;
	top: 0px;
	margin-left: 0px;
	margin: 20px;
	padding: 20px;
	width: 300px;
	display: none;
}

.tutorial-delete {
	text-align:right;
	width: 100%;

}

.logged-in .tutorial.unpublish::before  {
	content:  "UNPUBLISHED";
	color:      #fc0452;
	font-weight: bold;
	font-size: 1.8em;
	border-bottom: 2px solid #fc0452;
	
}
.logged-in .tutorial.unpublish  {
	background: url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAL+AwEjujhYEASQJWCCIDG4BLIgXAJdECyBTRAkAQAIvhgD4hkqMQAAAABJRU5ErkJggg==
	   ) repeat #f4e69c;
}


.tutorial .description {
	margin-bottom: 10px;
}

.update-tutorial {
	font-size: 2em;
}

/***** TUTORIAL STEP STYLES *****/

.step-description, .step-description .input {
	font-size: 11px !important;
	line-height: 18px !important;
	letter-spacing: 0px !important;
}


.step {
  /*padding: 20px;*/
	 margin-bottom: 20px;
}

.new .edit-form { 
/*	display: block !important; */
}

.edit-form {
/*position: absolute;*/
	right: 323px;
    border-right: 3px solid #fc0452;
	/*display: none;*/
	background-color: #FFFAFA;
	padding: 15px;
	/*margin-top: -25px;*/
}

.step .sorthandle {
	display: inline-block;
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	background: #fc0452;
	color: white;
	padding: 5px 10px 5px 10px;
}

.sorting .sorthandle {
	cursor: move;
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

.step-inner {
  padding: 10px;
  border-top: 1px dotted #fc0452;
}

.step .step-description {
	margin-bottom: 10px;
}


.step .step-video img {
	max-width: 100%;
}
.step iframe {
	max-width: 100%;
}


/*** COURSES ***/

.week-mode {
	cursor: cell;
}
.week-mode .node {
	cursor: crosshair;
}

.section-courses {
	position: absolute;
	left: 30px;
	top: 160px;
	font-size: 0.85em;
}

.section-courses .label {
	margin-bottom: 5px;
}

.week {
  cursor: pointer;
	padding-right: 4px;
}

.course .weeks, .new-course {
	/*clear: both;*/
}


.course .course-title {
	font-weight: bold;
	margin-right: 10px;
	float: left;
	cursor: pointer;
	text-decoration: underline;
}

.delete-course-button {
}

.course .week {
	float: left;
	margin-right: 1px;
}

.week.weekHighlight  {
		color: 	#fc0452;
}

.course.courseHighlight .course-title {	
		color: 	#fc0452;
		
}

.not-logged-in .course .week .title::after {
}


.course .publishMode {
	cursor: pointer;
	margin-right: 10px;
	float: left;
	font-size: 1.2em;
}

.course .publishMode .publish {
	color: 	#fc0452;
}

.week .sorthandle {
	float: left;
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	color: black;
}

.ui-sortable-helper .sorthandle {
	color: 	#fc0452;
}

.week i {
	font-size: 1.5em;
}
.week .ui-sortable-helper {
	display: none;

}
.week .ui-sortable-placeholder {
	/*display: none;*/
	/*height: 10px;*/
}
.weeks.sortable.sorting {
}

.week {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.week .week-title {
	clear: both;
	display: block;
	text-decoration: underline;
}

.edit-bar div {
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.course {
	overflow: hidden;
	clear: both;
	margin-bottom: 5px;
}
.weeks {
	/*overflow: hidden;*/
	/*float: left;*/
}

.weeks .delete, .weeks .edit {
	display: inline-block;
}

.weekfrom {
  color: #fc0452;
}

.dependency {
	stroke: #333;
	stroke-width: 1;
	stroke-dasharray: 3;
	fill: none;
}

/*** TREE SVG */

._jsPlumb_connector path {
	stroke-width: 2px;
	stroke-dasharray: 4px 2px;
}


.admin-buttons {
	position:absolute;
	font-size: 0.5em;
	bottom: 30px;
	left: 10px;
}


.login-shortcut {
	position:absolute;
	font-size: 0.5em;
	opacity: 0.3;
	bottom: 10px;
	left: 10px;
}


