@import "../../shared/styles/vars";

/**** TUTORIAL ****/



#section-tutorial {

	& .header-inner {
		display: table;
		margin-bottom: 10px;
		width: 100%;

		& > div {
			border-top: 5px solid $red;
			padding-top: 5px;
			display: table-cell;
			vertical-align:middle;
			padding-right: 10px;
		}


		& textarea {
			font-size: 1em !important;
			width: 100%;
		}

		& .title, & .title input {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.1em;
			font-size: 20px;
		}
	}

	& .header-edit {

		& .label {
			float: left;
			width: 100px;
			padding-top: 5px;
			font-weight: bold;
		}

		&.submit {
			margin: 20px 0px;
		}

	}
}

.draft-warning {
	display: none;
}


#section-tutorial .draft .draft-warning {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display: block !important;
	font-weight: bold;
	font-size: 3em;
	height:100%;
	margin-bottom: -20px;
	color: #bfb029;
}


.tutorial {
	/*position: absolute;*/
	/*top: 0px;*/
	/*margin-left: 0px;*/
	/*margin: 20px;*/
	/*padding: 20px;*/
	/*width: 300px;*/
	/*display: none; */
}

.tutorial-delete {
	text-align:right;
	width: 100%;

}

.logged-in .tutorial.unpublish::before  {
	content:  "UNPUBLISHED";
	color:      $red;
	font-weight: bold;
	font-size: 1.8em;
	border-bottom: 2px solid $red;

}
.logged-in .tutorial.unpublish  {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAL+AwEjujhYEASQJWCCIDG4BLIgXAJdECyBTRAkAQAIvhgD4hkqMQAAAABJRU5ErkJggg==) repeat #f4e69c;
}


.tutorial .description {
	margin-bottom: 10px;
}

.update-tutorial {
	font-size: 2em;
}

/***** TUTORIAL STEP STYLES *****/

.step {
	padding: 10px;
	margin: 15px 0;
    font-size: 1.2em;

	&.new {
		border: 5px dashed $purple;
	}

    & .step-title {
        color: $nearblack;
        border-bottom: 2px dotted $nearblack;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;
        padding-bottom: 4px;
        margin-bottom: 10px; 

        & .step-title-inner {
            border-bottom: 4px solid $nearblack;
            padding-bottom: 3px;
        }
       
    }

    & .step-inner {
        overflow: hidden;

    & img {
        max-width: 100%;
    }

        & .step-description, & .step-description .input {
            font-size: 11px !important;
            line-height: 18px !important;
            letter-spacing: 0px !important;
        }

        & .step-video {
            width: 50%;
            float: right;
            padding-left: 15px;
            padding-bottom: 5px;
        }

    }

	& .step-ui-menu, & .edit-form {
        background-color: #FFB6C1;
        padding: 10px;
    }
}

.resources {
	@extend .clearfix;
	margin-bottom: 15px;

	.img-preview {
		border: 2px solid #000;
		border-radius: 6px;
		float: left;
		height: auto;
		margin-right: 5%;
		width: 60%;
		
		+ .trails-files {
			float: right;
			width: 35%;

			.trails, .files {
				width: 100%;
			}
		}
	}

	.trails-files {
		
		.trails, .files {
			float: left;
			width: 50%;
			margin-bottom: 12px;
		}

		h3 {
			margin-top: 0;
		}
	}

	.link {
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 26px;
		color: $gray;
		display: block;
		font-size: 14px;
		padding: 5px 30px;
		position: relative;
		margin-bottom: 5px;
		text-decoration: none;

		&.download-file {
			background-image: url(/img/file-icon.svg);

			.delete-file {
				color: #000;
				display: none; 
				font-size: 1.25em;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
			}
			
			&:hover {
				.delete-file {
					display: block;
					&:hover { color: $red; }
				}
			}
		}

		&.view-trail {
			background-image: url(/img/trails-circle-bg.svg);
		}

		&:hover, &:focus {
			color: $blue;
		}
	}
}

.edit-form {

	label, textarea, input[type="text"] {
		display: block;
		font-size: 14px;
		margin: 10px 0;
		width: 100%;
	}

	.form-group {
		.button-label {
			display: inline-block;
			margin-bottom: 0;
			width: auto;
		}
	}

	.markdown_text_container,
	.video_url_container {
		display: none; // toggled w/ JS
	}
}