<head>
	<title>GSAPP METEORTREE</title>
  <!--	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
  <!--	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" /> -->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script> -->
</head>

<body> 
<div class="container {{loggedin}}">


<div class='section-logo'>
    <img class='logo' src='/img/site-logo.jpg' />
</div>

<div class="section-courses">
	<div class="label">Courses</div>
	<div class="section-courses-inner">
		{{> sectioncourses }}
	</div>
</div>

<div class="section-tree">
	<div class="section-tree-inner">
		{{> sectiontree }}
		<div id="jsPlumbContainer"></div>
	</div>
</div>

<div class="section-tutorial">
	<div class="section-tutorial-inner">
		<div class="tutorials">
		  {{#each tutorials}}
			{{> tutorial}}
		  {{/each}}
		</div>
	</div>
</div>

<div class="login-shortcut">login</div>

	{{> loginButtons}}
  {{#if currentUser}}
  <div class="admin-buttons">
<form class="new-tutorial">
	ADD NEW TUTORIAL
    <input type="submit" />
  </form>
	<div class="discard-draft button">DISCARD DRAFT</div>
	<div class="save-draft button">SAVE DRAFT</div>
  </div>
  {{/if}}

</div>
</body>






