<template name="stepList">
	{{#each steps }}
		{{> step }}
	{{/each}}
	{{allRendered}}
</template>

<template name="step">
<div class="step {{new}}" id="step-{{_id}}">
	{{#if currentUser}}
	<div class="step-ui-menu">
		{{#if new}}
			<div class="new-button button"><i class="fa fa-plus-square fa-2x"></i> STEP</div>
		{{else}}
			<div class="sorthandle"><i class="fa fa-arrows fa-2x"></i></div>
			<div class="edit-button button"><i class="fa fa-pencil-square fa-2x"></i></div>
		{{/if}}
	</div>
	{{/if}}

	<div class="step-inner">
		{{#if currentUser}}
		<div class="edit-form">
			<button class="delete">DELETE</button>
			<form class="update-step">
				Step Type<br>
				<div>
					<input type="radio" name="step_type" value="step_video" {{ is_step_type_checked "step_video" }} >Video <br>
					<input type="radio" name="step_type" value="step_markdown" {{ is_step_type_checked "step_video" }} > Markdown
				</div>
				Markdown<br>
				<textarea name="markdown_text" placeholder="markdown">{{markdown_text}}</textarea><br>
				Description<br>
				<textarea name="description_text" placeholder="description">{{description_text}}</textarea><br>
				Video URL<br>
				<input type="text" name="video_url" placeholder="video_url" value="{{video_url}}"><br>
				{{ tutorial_id }}<br>
				<input type="submit" />
			</form>
		</div>
		{{/if}}
		<div class="step-description">
			{{ description_text }}
		</div>
		<div class="step-video">
			{{{ video_embedded }}}
		</div>
	</div>
</div>
</template>

