<template name="tree">
	<div id="draft-sign">DRAFT</div>
	<div id="tree-nodes">
		{{#each nodes}}
		{{> node}}
		{{/each}}

		{{!-- 
			gets used as tooltip and right column.
			uses CSS to show/hide
		--}}
		<div id="node-info"></div>
	</div>
	<div id="tree-links"></div>
</template> 

<template name="node">
<a href="/tutorial/{{_id}}">
<div class="node {{publishMode}} {{draftMode}}" style="position: absolute; top: {{ ypos }}px; left: {{ xpos }}px; " id=node-{{_id}} >
	<div class="icon">{{{ nodeIcon }}}</div>
	<div class="title">{{ title }}</div>
	{{#if currentUser}}
	<div class="change-dep"><i class="fa fa-arrows-h fa-2x"></i></div>
	{{/if}}
</div>
</a>
</template>