<template name="tutorialpreview">
	<h2>I AM A PREVIEW </h2>
	tutorial-{{ _id }}
</template>

<template name="tutorial">
	<div class="tutorial {{publishMode}}" id="tutorial-{{ _id }}">
		<div class="header">
			<div class="draft-warning">DRAFT</div>
			<div class="header-inner">
				<div class="icon">{{{ nodeIcon }}}</div>
				<div class="title editable-text-trigger">{{> editableText collection="tutorials" field="title" }}</div>
			</div>
		</div>
		<div class="files">{{{ files }}}</div>
		<div class="description">{{> editableText collection="tutorials" field="description" }}</div>
		{{#if currentUser}}
		<div class="edit-button button">EDIT TUTORIAL</div>
		<div class="edit-form">
			<input type="file" class="iconInput" />
			<form class="update-tutorial">
				Publish?
				<input type="checkbox" name="publishMode" value="publishMode" {{publishChecked}}><br>
			</form>
			<div class="tutorial-delete"><button class="delete">DELETE</button></div>
		</div>
		{{/if}}
		<div class="steps sortable">
		{{#each steps}}
			{{> step }}
		{{/each}}
		</div>
		{{> step tutorial_id =  _id  new="new"}}
		<div class="debug">
			{{ isPublished }}
			{{ createdAt }}
		</div>
	</div>
</template>


