<template name="tutorialpreview">
	<h2>I AM A PREVIEW </h2>
	tutorial-{{ _id }}
</template>

<template name="tutorial">
	{{tutorial_test}}
	<div class="tutorial {{publishMode}}" id="tutorial-{{ _id }}">
		<div class="header">
			<div class="draft-warning">DRAFT</div>
			<div class="header-inner">
				<div class="icon">{{{ nodeIcon }}}</div>
				<div class="title editable-text-trigger">{{> editableText collection="tutorials" field="title" }}</div>
			</div>
		</div>
		<div class="files">{{{ files }}}</div>
		<div class="description">{{> editableText collection="tutorials" field="description" }}</div>
		{{#if currentUser}}
		<div class="edit-button button">EDIT TUTORIAL</div>
		<div class="edit-form">

			<form class="update-tutorial">
				<div class="form-group">
					<label for="iconInput">Add/change Tutorial icon:</label>
					<input type="file" class="iconInput" id="iconInput" />
				</div>
				<div class="form-group">
					<label for="fileInput" class="button-label">Add files</label>
					<input type="file" id="fileInput" class="fileInput" style="display: none;" />
				</div>
				<div class="form-group">
					<label for="publishMode">Publish?</label>
					<input type="checkbox" id="publishMode" name="publishMode" value="publishMode" {{publishChecked}}><br>
				</div>
			</form>
			<div class="tutorial-delete"><button class="delete">DELETE</button></div>
		</div>
		{{/if}}
		<div class="steps sortable">
		{{> stepList }}
		</div>
		{{> step tutorial_id =  _id  new="new"}}
		<div class="debug">
			{{ isPublished }}
			{{ createdAt }}
		</div>
	</div>
</template>