/* @override
        http://localhost:8000/css/skilltree.css */

/***** STRUCTURE AND LAYOUT *****/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,700);

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans',  Helvetica, Arial, sans-serif;
  color: #333;
}

input, textarea {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.btn {
  padding: 0 3px;
  border: 1px #ccc solid;
  margin: 5px;
  text-decoration: none;
  border-radius: 2px;
  background-color: white;
}

.logged-in .container {
  margin-top: 40px;
}

.container {
  position: relative;
  height: 99%;
}

.section-logo {
  position: absolute;
  top:  30px;
  left: 30px;
}

.courses {
  position: absolute;
  left: 30px;
  top: 150px;
  padding: 10px 0;
  border: 1px solid cyan;
  height: 100px;
  width: 300px;
}

.section-logo .logo {
  width: 120px;
  height: 120px;
}


.section-tree {
  margin-right: 400px;
  height: 100%;
  font-size: 0.7em;
  overflow-y: scroll;

}

.section-tutorial {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 100%;
  overflow-y: scroll;
  font-size: 0.8em;
}

#javascript-helpers {
  display: none !important;
}

@media only screen and (max-width:1200px){
  /*
        .section-tutorial {
                position: absolute;
                right: 0px;
                top: 0px;
        }*/

  .container {
    width: 1200px !important;
  }
}

/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/
/***** STYLIN' *****/




a:link, a:active, a:visited {
                    /*text-decoration: none;*/
                    color: #fc0452;
                  }

a:hover {
  /*text-decoration: none;*/
  color: #a41744;
}

.error {
  color: #fc0452;
}




.section-tree svg.tree {
  background-color: #EAEAEA;
  width: 100%;
  height: 2000px;
  margin: 0px !important;
  padding: 0px !important;
}

.tutorial {
  cursor: default;
}
.tutorial image {
  cursor: pointer;
}

.fa:hover {
  cursor: pointer;
}

.tutorial.Draft  {
  opacity: 0.3;
  fill: #b2a31f;
}

/**** MODE TRAY ****/

.modeTray {
  position: fixed;
  z-index: 200;
  top: 0px;
  width:100%;
}
.modeTray-inner {
  /*display: none;*/
  font-size: 0.7em;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.84);
  color: white;
  height: 20px;
  box-shadow: 0 0 9px #5c5c5c;
}

.modeTray-toolbar {
  float: left;
}

.modeTray-loginout {
  float: right;
}
.modeTray .login-form {
  position:absolute;
  top:  40px;
  right: 20px;
  background-color: inherit;
  padding: 10px;
  display: none;

}

.modeTray .motd {
  vertical-align: middle;
  display:inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dotted #AAA;
  font-weight: bold;
}


.modeTray .buttons {
  vertical-align: middle;
  display:inline-block;
}

.modeTray #saving-status {
  vertical-align: middle;
  display:inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dotted #AAA;
}

.loginout-links {
  vertical-align: middle;
  display:inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.login-form div {
  display: inline-block;
}
.login-form form .email, .login-form .password, .login-form .label {
  /*float: left;*/
}

.login-form .label {
  vertical-align: middle;
  margin-right: 2px;
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.1em;

}

.login-form .submit {
  display: inline-block;
  vertical-align:middle;
}
.login-form .submit input {
  float: right;
  /*-webkit-appearance: button;*/
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  /*vertical-align: middle;*/
  margin-bottom: 5px;
  border:none;
  display: block;
  /*margin: auto;*/
  background-color: #d41c56;
  color: white;
  font-size: 0.8em;
  padding: 3px 15px;
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  cursor:pointer;
  text-shadow: 1px 1px 2px rgba(16, 16, 16, 0.97);
  box-shadow: 0 1px 1px #848484;
  font-weight: bold;
}

.modeTray button {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color: #d41c56;
  color: white;
  font-size: 1em;
  padding: 3px 15px;
  border: none;
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  cursor:pointer;
  text-shadow: 1px 1px 2px rgba(16, 16, 16, 0.97);
  box-shadow: 0 1px 1px #848484;
  font-weight: bold;
  /*background-color: lightblue;*/
}

.modeTray button.active {
  background-color: lightgray;
}


/**** TUTORIAL ****/

.section-tutorial-inner {
  padding: 20px;
  /*margin: 20px;*/
}

.section-tutorial .header-inner {
  display: table;
  margin-bottom: 20px;
  width: 100%;
}

.section-tutorial .header-inner > div {
  border-top: 5px solid #fc0452;
  padding-top: 5px;
  display: table-cell;
  vertical-align:middle;
  padding-right: 10px;
}


.section-tutorial .header-inner textarea {
  font-size: 1em !important;
  width: 100%;

}
.section-tutorial .header-inner .title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 2em;
}

.section-tutorial .header-edit .label {
  float: left;
  width: 100px;
  padding-top: 5px;
  font-weight: bold;
}

.section-tutorial .header-edit .submit {
  margin: 20px 0px;
}

.draft-warning {
  display: none;
}

.section-tutorial .Draft .draft-warning {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  display: block !important;
  font-weight: bold;
  font-size: 3em;
  height:100%;
  margin-bottom: -20px;
  color: #bfb029;
}

.section-tutorial-inner.Draft {
  background: url(
                  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAL+AwEjujhYEASQJWCCIDG4BLIgXAJdECyBTRAkAQAIvhgD4hkqMQAAAABJRU5ErkJggg==
                ) repeat #f4e69c;
}

.section-tutorial .icon-edit-link .label {
  /*text-decoration: none;*/
  background-color: #fc0452;
  color: white;
  padding: 3px 6px;
  margin-top: -5px !important;
  text-align: center;
  width: 50%;
  margin: auto;
  cursor: pointer;
}

.section-tutorial .icon-edit-forms {
  display: none;
  position: absolute;
  float: left;
  border: 1px solid red;
  padding: 3px 6px;
  margin: 0px 8px;
  background-color: white;
}

.section-tutorial .clicked .icon-edit-forms {
  display: block !important;
}

.show .tutorial-steps .edit-links {
  display: none;
}



.edit-links {
  text-align:right;
  padding:  2px 5px;
}

.edit-links a {
  text-decoration: none;
  background-color: #fc0452;
  color: white;
  padding: 3px 6px;
  margin-left: 4px;
}

.edit-links a:hover {
  background-color: #a41744;
  color: white;
}


.edit-links .delete {
  background-color: #333;
  color: red;
}

.highlight {
  fill: none;
}

.dependency-mode .tutorial.hovering .highlight {
  stroke: red;
  stroke-width: 4px;
}

.dependency-mode .dependency-source .highlight {
  stroke: none !important;
}


/***** TUTORIAL STEP STYLES *****/

.step-description, .step-description .input {
  font-size: 11px !important;
  line-height: 18px !important;
  letter-spacing: 0px !important;
}


.tutorial-step {
  /*padding: 20px;*/
  margin-bottom: 20px;
}

.edit .tutorial-step-inner {
  padding: 10px;
  border: 1px solid #fc0452;
}

.show .tutorial-step-inner {
  padding: 10px;
  border-top: 1px dotted #fc0452;
}

.tutorial-step .step-description {
  margin-bottom: 10px;
}


.tutorial-step .step-video img {
  max-width: 100%;
}
.tutorial-step iframe {
  max-width: 100%;
}


.edit .empty-step {
  height: 40px;
  border: 1px solid #fc0452;
}
.show .empty-step {
  display: none;
  height: 40px;
  border: 1px dotted #fc0452;
}

iframe.pre-load {
  display: none;
}

.lazy-load {
  cursor: pointer;
  position:relative;
}

.lazy-load-button {
  margin: 0!important;
  padding: 0!important;
  width: 60px!important;
  height: 41px!important;
  z-index: 100!important;
  position: absolute!important;
  top: 50%!important;
  margin-top: -22px!important;
  left: 50%!important;
  margin-left: -30px!important;
  line-height: 1!important;
  font-style: normal!important;
  font-weight: normal!important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAApCAYAAABp50paAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABV9JREFUeNrcWk1IK1cUvrmZGBOjJvr6xKe+Slvroi6kK6GrUkSxO12IC6GgUFBcuOlC8GdRulERV3VRQV0IKhRU0NJupK3tpi1dCRaxffWHGjWZPJNnNJlMz9FzX+ZNkzylcxP1wMdMZiYz97vnu+ee+2Njmc0GyANwgANQDCgAuABOwGOAG6AAiuh+MV3Lo+fc9KyN3qGYvnEBSAA0QBTwAnBp+P0ccAxQ6bkw/T4HRABn9B+8F6f/ZiRktjJANaCSUE0kkVApoBDgAeQTIeM7dAKjAuiG6+b7wniKstgMv+2m5xMGslgZIUAAEAOcAv4GHAL+BDwDBNMRxvOPAZ8C3iUPOVNUiGaCfgOV3MZe9z5OlSDAUzxzQZXyC+BLwM+pCtMJGCTvCTJxOlpBxGpLVzF2ajqiMvyAzwDfGuXyPuALkmyY5KGZ5GVGri1duXRyVIyOPsA7gO9R/iIYtQLKiSy7Q6T+b2UkSN7vAT4U7QGDz9Mbtp/7SPySjh9gj8EpApeyh2/YoyicuhlvhuBkVU3n2jA/cBkJxyUVjBuipz2HEf0qYcKs5w1ify6DbFVVVbSrq0s9ODhQlpaWClRVdUtWUyqLE0cPEn5CXkhI8HC8ubk5ODw8XJBIJOJNTU2H/f39j/f29jxZDJI2Iowq9nJiLk1KZWWYqcKHOC9pa2t7c21tLdTR0XHgdDo1kng22rdGQaucU2YlraY1TRPJACrIXldXVzU/P+8YHR09rqysVIkwz1JWxjmNZqQRBimbBxdIvLyvr8+7uroabGxs9NP1bAS0fOmE09Q2SsxdX19fsbCw4BgcHNzzeDxhGrDItCJO2s52hiVIO3w+X+nIyEgxRPCjmpqaE8lp7VU/nCeTMASrTO++GrTDM8UQzStB4uHOzs5niqIkJLRrLIeTG2QkpVZtthu9Fgk6amtrn8zMzLgmJyePvV7vmcVl0kUuncfuhumkiIqenh7f4uJiAJKWMwuDmS4krdyxURKOYz0Qvd0NDQ1Ri9+tKIbh050Zx+q6fjg1NaWtr6/7SO5WvTuq0ABZuNyWY7L6ycnJ0dDQ0OXc3FxFJBKxW0w4opCEcmnYrDh4Vd3c3FS7u7t929vbj6ipWT3IuOREOFeeRQ/GQqGQf2xsLNDS0vIIyBbRdU2Cgl5K2pYD+SKpF1tbW0cDAwOu5eXlKkleNdqVpMMyk3eQaioJ6zCo8M/OzsZh6Fi0v79fYsi+ZNpzJByU6WHD4AEJ4QxpfHd392hiYuJyenq64vz8XGGvrlJIHSbix46lavc60xISVjc2NsK9vb0ukHKZYeIhG00I7WpeOirxQ3xnZwc99w90MaHx8fFAa2trMZAtYcl542wYOhbXoU7xox8BvmLJFTxLCRcWFkbb29tVv9+vrKyseOnj2SL6MqUEHAA+QcJ1gDl2PTcdldCexeKXCEq5GIrizOzvgC5OUTrI/rtua1ncYsl1nlzm7CjpCKcTld3vtaQbZVlY+SJoBR4wUeHIPUyykDBOwP8mZgTYw1pQQy755N2fsGlxurgO+JUmAxyGh/V7VgHmMjspNn0D+IEZZhOwDf/FrheOn7Lkdgexkm43vfB18rF8JuQGvYCD4DSUH69/B/gccJSqgG+z630euJb6Fv3JaSCfjpBm6McTFqWKNvbqPg6eIefXSbYXVAbc8PIH4EfA1+x620NGj2Cf7KMOG7cm4fi0hK5XUw0KiG1MeHQTHBZGVrFjJ0znuEXpjIItdnX7FHRPCeLeITPt4LmtBEWNiz1XYj7MxZJbmPIJpSy5pUlUXDrPxAzKiBBJN53vk9fE/q0okY4ZVBS7jaL+FWAA/y++OTUmOgsAAAAASUVORK5CYII=')!important;
}


/***** DEPENDENCIES *****/

.dependency {
  stroke:#333;
  stroke-width:1;
  stroke-dasharray:3;
  fill:none;
}

.dependency.draft {
  opacity: 0.3;
}

.dependencyHover {
  stroke:#333;
  stroke-width:3;
  stroke-dasharray:3;
  fill:none;
  pointer-events: none;
}


/***** BACKEND/EDITING *****/

body .error-overlay {
  display: none;
}

body.error .error-overlay {
  height: 100%;
  position:fixed;
  width:100%;
  background-color: black;
  z-index: 100;
  opacity:0.8;
  display: block;
}

body.error {
  cursor: not-allowed !important;
}


.tutorial .toolboxes {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.create-mode .tutorial .toolboxes {
  opacity: 0;
}

.create-mode .tree {
  cursor: pointer;
}

g.tutorial.dragging a {
  pointer-events: none;
  opacity: 0.5;
}

g.tutorial.dragging {
  fill: #fc0452;
}

.fa-bullseye {
  display: none;
}
body.dependency-mode {
  cursor:	e-resize;
}

.dependency-mode .fa-bullseye {
  display: block !important;
}

.section-tree {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section-tree.dragging {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.tutorial-create-feedback {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.form-step {
  /*border: 1px solid blue;*/
  margin-right: 10px;
  padding: 30px;

}

.form-step-inner {
  /*padding: 10px;*/
  /*border: 1px solid #fc0452;*/
}

.form-step .edit-step-title {
  /*background-color: black;*/
  /*color: white;*/
  width: 100%;
  padding: 8px 5px 5px;
  text-align: center;
  font-size: 1.3em;
  background: url(
                  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAL+AwEjujhYEASQJWCCIDG4BLIgXAJdECyBTRAkAQAIvhgD4hkqMQAAAABJRU5ErkJggg==
                ) repeat #fea9bd;
  font-weight: bold;
  text-transform: uppercase;
  /*letter-spacing: 0.2 em;*/
}

.form-step .input {
  width: 100%;
  padding: 5px;
  border: 1px solid #AAA;
}

.form-step .label {
  font-weight: bold;
  margin-top: 10px;
  color: #d41c56;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.form-step .step-description .input {
  height: 350px;
}

.form-step .submit{
  width: 100%;
  margin: auto;
  padding: 20px 5px 5px;
}

.submit a {
  text-decoration: none;
}

.submit a input {
  /*-webkit-appearance: button;*/
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;

  border:none;
  display: block;
  margin: auto;
  width: 100%;
  background-color: #d41c56;
  color: white;
  font-size: 1.25em;
  padding: 10px;
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  cursor:pointer;
  text-shadow: 1px 1px 2px rgba(16, 16, 16, 0.97);
  box-shadow: 0 2px 1px #848484;
  font-weight: bold;
}

.submit a:hover input {
  background-color: #a41744;
}


.delete-button a.delete {
  /*-webkit-appearance: button;*/
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  text-align: center;
  border:none;
  display: block;
  margin: auto;
  width: 100%;
  text-decoration: none;
  background-color: #1b1b1b;
  color: #fc0452;
  font-size: 1em;
  padding: 5px;
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  cursor:pointer;
  text-shadow: 1px 1px 2px rgba(16, 16, 16, 0.97);
  box-shadow: 0 2px 1px #848484;
  font-weight: bold;
}

.delete-button a:hover.delete {
  background-color: black;
  color: white;
}

/***** SELECTION AND SCROLL STYLES *****/

::selection,
a::selection,
img::selection {
  background: #fc0452;
  color: #ffffff;
}

::-moz-selection {
  background: #fc0452;
  color: #ffffff;
}

::-webkit-scrollbar-thumb:vertical { background-color: #fc0452; height:200px;}
::-webkit-scrollbar-thumb:horizontal { background-color: #fc0452; height:10px !important;}
::-webkit-scrollbar { height:10px; width:7px; background-color:#fcfeff; }
