<template name="minimap">
	<svg id="minimap">
		
		<rect class="minimap-bg"></rect>
		
		<rect id="minimap-viewport" fill="#eaeaea" width="50" height="50" stroke="#fc0452" stroke-width="3" rx="4" ry="4"></rect>
		<g>
		{{#each links}}
			<path d="{{link}}" fill="transparent" stroke="#999" stroke-dasharray="2 1"></path>
		{{/each}}
		</g>
		<g>
		{{#each nodes}}
			<circle r="2" cx="{{cx}}" cy="{{cy}}" fill="#fff" stroke="#000"></circle>
		{{/each}}
		</g>
		<rect width="1000" height="1000" fill="transparent"></rect>
	</svg>
</template>
