@import "../../shared/styles/vars";	

body.draft-mode .logged-in #section-tree {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAL+AwEjujhYEASQJWCCIDG4BLIgXAJdECyBTRAkAQAIvhgD4hkqMQAAAABJRU5ErkJggg==) repeat #f4e69c;
}

.node-image {
	height: 60px;
	width: 60px;
	border: 1px solid black;
}


.logged-in.draft-node {
	opacity: 0.5;
	border: 5px dotted #333;
}


.logged-in .node.unpublish  {
	opacity: 0.3;
}

.logged-in .node.unpublish::before {
	content:    "UNPUB";
	color:      $red;
	font-weight: bold;
	font-size: 0.6em;
	border-bottom: 2px solid $red;
	margin-left: 65px;
	margin-bottom: -65px;
}


.node {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	width: 60px;
	cursor: pointer;
	text-align: center;
	z-index: 10;
	transform: translateY(20px);

	& .icon > img {
		max-width: 100%;
		max-height: 100%;
	}


	& .title {
		color: $gray;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 0.75em;
	}
}





