<template name="navbar">
	<div id="navbar" class="clearfix">

		{{> sectioncourses }}

		<div class="float-right">

			{{> settings}}
			{{> aboutthis}}
		</div>
	</div>
</template>

<template name="settings">

	<div class="button" data-modal="settings"><i class="fa fa-gears"></i> Settings</div>

	<aside class="modal" modal-target="settings">
		{{> loginButtons}}

		<div id="megavision-toggle">
			<h3>Megavision:</h3>
			
			<input type="radio" name="megavision-toggle" id="megavision-toggle-on" {{megavisionOn}}>
			<label for="megavision-toggle-on">On</label>

			<br>
			
			<input type="radio" name="megavision-toggle" id="megavision-toggle-off" {{megavisionOff}}>
			<label for="megavision-toggle-off">Off</label>
		</div>
	</aside>

</template>

<template name="aboutthis">

	<div class="button" data-modal="aboutthis"><i class="fa fa-question-circle"></i> What is this?</div>

	<aside class="modal" modal-target="aboutthis">
    <div id="about-text">
			<h3>About the GSAPP Skill Tree:</h3>
      <div class="modal-close">&#10005;</div>
      <p>The GSAPP Skill Tree is a pedagogy platform at Columbia University GSAPP for explaining and teaching the unknown unknowns of architectural software tools.</p>
      <p><b>How to use this site:</b> Introductory tutorials start at the left, and are connected to related tutorials via a network of lines. More advanced tutorials exist on the right.</p>
      <p><b>Created by:</b> Dan Taeyoung and Danil Nagy.<br>
      <b>Design:</b> Dan Taeyoung <br>
      <b>Software development:</b> Dan Taeyoung, Scott Donaldson<br>
      <b>Icons:</b> Dan Taeyoung<br>
      <b>Video tutorials:</b><br>
      Farzin Lotfi-Jam<br>
      Danil Nagy<br>
      Bika Rebek<br>
      Dan Taeyoung<br>
      Josh Uhl<br>
      and many others.<br></p>
      <p>Please send suggestions/comments to <a href="mailto:dan.taeyoung@columbia.edu">dan.taeyoung@columbia.edu</a>.</p>

		</div>
	</aside>

</template>

<template name="sectioncourses">

	<div class="button text-blue toggle-courses">Trails</div>
	<div style="display: none;" class="section-courses-content">
		<div class="courses">
			{{#each courses}}
				{{> course}}
			{{/each}}
		</div>
		{{#if currentUser}}
			<div class="new-course">
				<form class="new-course">
					<input type="submit" class="button" value="Add New Course" />
				</form>
			</div>
		{{/if}}
	</div>
</template> 


