@import "../../shared/styles/vars";	

.cursoryglance {
	/* border: 5px solid $red;
	width: 25px;
	height: 25px;
	position: absolute;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear; */
	
	// these look maybe a little too much like skin blemishes?
	// in my head they look like *shooting stars*
	background: lighten($red, 10%);
	border-radius: 50%;
	width: 35px;
	height: 35px;
	position: absolute;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	text-indent: -9999px;
	transform: translateX(-50%) translateY(-50%);

    // megavision mouse pointers are invisible until actually handled by code
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
}

