{% macro input(name, value='', type='text') -%}
	<input type="{{ type }}" value="{{ value|e }}" name="{{ name }}">
{%- endmacro %}

{%- macro textarea(name, value='', rows=5, cols=40) -%}
	<textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols
		}}">{{ value|e }}</textarea>
{%- endmacro %}

{%- macro edit_post(actionurl) -%}
    <form action="{{actionurl|e}}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd>{{ input('title') }} 
        <dt>Text:
        <dd>{{ textarea('text') }}
        <dd><input type=submit value=Share>
      </dl>
    </form>
{%- endmacro %}

