.cursoryglance {
	border: 5px solid red;
	width: 25px;
	height: 25px;
	position: absolute;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

